<h2> Products List </h2>

<ul>
  <% productsAndStuff.forEach((product) => { %>
    <li>
      <h3> <%= product.name %> </h3>
      <p> $<%= product.price %> </p>
      <a href="/products/details?myId=<%= product._id %>">
        View details
      </a>
      <br>

      <a href="/products/edit?myId=<%= product._id %>">
        Edit Product
      </a>
      <br>
    </li>
  <% }) %>
</ul>
